@font-face {
  font-family: marguerite;
  src: url("./font/marguerite.ttf");
}

/* General*/
* {
  padding: 0px;
  margin: 0px;
}

/* Agregar imagen de patron de fondo*/
body {
  background-color: black;
}
h1 {
  text-align: center;
  font-family: marguerite;
}
#title {
  font-family: marguerite;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Header-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
#header {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: block;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  width: 120px;
  margin-right: 20px; /* Adjust the spacing between the logo and text */
}
.header-title{
  padding-top: 15px;
}
.header-title a {
  text-decoration: none;
  color: white;
  font-size: 38px; /* Adjust the font size as needed */
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Navbar public-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
#nav {
  width: 100%;
  background-color: #0672A8;
  height: 40px;
  font-family: marguerite;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav ul li {
  line-height: 40px;
  transition: all 300ms;
}

#nav ul li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

#nav ul li:hover {
  background-color: black;
}

#nav ul li a:hover {
  color: #0672A8;
}

/* Responsive Design */
@media (max-width: 768px) {
  #nav ul {
    flex-direction: column;
    width: auto;
  }
  
  #nav ul li {
    width: 100%;
    text-align: center;
  }
  
  #nav ul li a {
    padding: 10px 0;
  }
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Navbar private-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
#nav2 {
  width: 100%;
  background-color: #800;
  height: 40px;
  font-family: marguerite;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#nav2 ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav2 ul li {
  line-height: 40px;
  transition: all 300ms;
}

#nav2 ul li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

#nav2 ul li:hover {
  background-color: black;
}

#nav2 ul li a:hover {
  color: #0672A8;
}

/* Responsive Design */
@media (max-width: 768px) {
  #nav2 ul {
    flex-direction: column;
    width: auto;
  }
  
  #nav2 ul li {
    width: 100%;
    text-align: center;
  }
  
  #nav2 ul li a {
    padding: 10px 0;
  }
}


.back-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 0px;
  height: 100%;
  padding: 0px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.back-button:hover {
  color: #0672A8;
  background-color: #800;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Inicio main-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

#main_inicio {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.inicio_container {
  background-color: black;
  margin: 0 auto;
  width: 70%;
  position: relative;
  height: auto;
  min-height: 600px;
  background-image: url('img/Fondo1.jpg');
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center; /* Center the background image */
}

#img_inicio {
  position: relative;
  width: 100%;
  height: auto;
}

#img_inicio img {
  width: 100%;
  height: auto;
}

#texto {
  position: absolute;
  top: 100px;
  left: 5%;
  color: white;
  font-size: 30px; /* Adjust font size as needed */
  font-family: marguerite;
  padding: 0px;
  
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Footer -------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
#footer {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#footer p {
  color: white;
  text-align: center;
  flex: 1;
}

#footer p a {
  text-decoration: none;
  color: white;
  font-family: marguerite;
  font-size: 20px;
}

#footer #foto img,
#footer #foto2 img {
  width: 150px;
} 
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------Acervo-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

#main_acervo{
  background-image: url(../public/img/fondo2.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container_acervo{
  width: 70%;
  padding: 20px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}




#main2 #container h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  height: 300px;
}


.acervo_pages{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  transition: all 300ms;
  color: #0672A8;
}

.clasificacion {
  border-radius: 10px;
  box-shadow: 0px 0px 6px #0672A8;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
  display: block;
  width: 90%;
  text-decoration: none;
  color: inherit;
}

.clasificacion article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clasificacion .mascara {
  width: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.clasificacion .mascara img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #0672A8;

}

.informacion-clas {
  width: 100%;
  padding-top: 15px;
}

.informacion-clas h4 {
  font-size: 40px;
  font-family: marguerite;
}

.acervo_pages :hover {
  background-color: #0672A8;
  color: white;

}
.clasificacion .mascara img:hover {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px white;

}

/*---------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------Fotografias-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/


.main_temas_fotografia{
  background-image: url(../public/img/fondo2.jpg);
  height: 100%;
  display: flex;
  justify-content: center;
}
.temas_contenedor_items{
    width: 70%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
.temas_contenedor_items h3{
  font-size: 30px;
  font-family: marguerite;

}
.temas_contenedor {
  border-radius: 10px;
  box-shadow: 0px 0px 6px #0672A8;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  display: block;
  width: 90%;
  margin-left: 27px;
  text-decoration: none;
  color: inherit;
  min-height: 100px;
  text-align: center;
  color: #0672A8;

}
.temas_contenedor:hover{
  background-color: #0672A8;
  color: white;
}

.temas_contenedor article{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
.contenido_temas{
  display: block;
  width: 100%;
  
}

}
#img_temas{
  display: block;
  float: left;
  width: 25%;
  min-height: 200px;
  max-height: 200px;
  
  
}
#p_temas{
  font-size: 17px;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
}


/*---------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------Album fotos-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
.main_album{
  background-image: url(../public/img/fondo2.jpg);
  height: 100%;
  display: flex;
  justify-content: center;
}
.container_fotografia {
  max-width: 85%;
  min-width: 85%;
  padding: 20px;
  height: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;

}

.fotografia-item {
  display: block;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #0672A8;
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 25px;
  margin-left: 20px;
  display: block;
  width: 16%;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  height: 250px;
}

.fotografia-item img {
  width: 100%;
}
.numero_foto{
  color: #0672A8;
  font-size: 25px;
  margin-top: 10px;
  font-family: marguerite;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------Fotodetalle-------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------*/
.main_fotodetalle{
  background-image: url(../public/img/fondo2.jpg);
  font-family: Arial, sans-serif;
  height: 100%;
  min-height: 400px;
  display: block;
  float: left;
  justify-content: center;
  width: 100%;
}


.main_fotodetalle img {
  max-width: 600px;
  margin-top: 15px;
}
#nav span{
  margin-right: 15px;
  margin-left: 10px;
  color: white;
}

#nav span:hover{
  color: #800;
  cursor: pointer;
}

.container_fotodetalle {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0672A8;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_fotodetalle button {
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0672A8;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;
  transition: all 300ms;
}

.container_fotodetalle button:hover {
  background-color: black;
}

.container_fotodetalle h2 {
  color: #0672A8;
  font-size: 34px;
  font-family: marguerite;
  margin-left: 100px;
  border-radius: 3px;
}

.barra_fotodetalle {
  flex-grow: 0;
}

.marco {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: 20px;
  display: block;
  float: left;
}
.form-group .marco img{
  width: 650px;

}


.barra_fotodetalle{
  border-bottom:2px solid #0672A8;
  height: 70px;
}
.barra_fotodetalle h2 {
  color: #800;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  float: left;
}
.barra_fotodetalle h2:last-child{
  float: left;
  margin-right: 50px;
  
}



.marco img {
  padding-top: 1px;
  width: 100%;
  height: auto;
  display: block;
  float: lefts;
  margin: 0px;
}

.contenido_fotodetalle {
 
  height: 100%;
  padding: 10px;
  margin-top: 25px;
  color: #333;
  width: 30%;
  display: block;
  float: left;
}

.contenido_fotodetalle h3 {
  text-align: center;
  font-family: marguerite;
  font-size: 35px;
  color: #800;
}

.contenido_fotodetalle p {
  display: flex;
  justify-content: left;  
  margin: 5px 0;
  padding-bottom: 5px;
}

.contenido_fotodetalle p:last-child {
  border-bottom: none;
}


#main {
  background-color: white;
  min-height: 900px;
}

#main #texto {
  position: absolute;
  top: 85%;
  left: 7%;
  transform: translateY(-50%);
  color: white;
  font-size: 40px;
  font-family: marguerite;
}

#main p {

  margin-left: 200px;
}

#main #form {
  display: block;
  text-align: center;
  padding: 30px;
  background-color: white;
}
/*--------------------------------------Main1---------------------------------------*/
#main2 {
  background-image: url(../public/img/fondo2.jpg);
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: marguerite;
}
#main2 #container h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  height: 300px;
}
/*--------------------------------------Registro Menu---------------------------------------*/

.main_registro {
  background-image: url(../public/img/fondo2.jpg);
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
}
.contenedor_main_registro{
  max-width: 900px;
  min-width: 900px;
  padding: 20px;
  height: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}
.frame_botones_registro button {
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0672A8;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;
  transition: all 300ms;

}

.frame_botones_registro button:hover {
  background-color: black;
  color: #0672A8;
}
/*--------------------------------------Iconografia Menu---------------------------------------*/
.frame_botones_icon button {
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #800;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;
  transition: all 300ms;

}
/*--------------------------------------Formulario fotografia---------------------------------------*/

.contenedor_formulario_foto{
  max-width: 1200px;
  min-width: 1200px;
  padding: 20px;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;

}
.contenedor_formulario_foto h2{
  text-align: center;
  font-size: 40px;
  color: #0672A8;
}

#regresar_boton{
  text-align: center;
}

.form-group input[type="textarea"]{
  padding: 10px;
  width: 1100px;
  margin-top: 8px;
}
.form-group label{
  display: block;
  float: left;
  margin-top: 18px;
  font-size: 20px;
}

.form-group{
  display: block;
  float: left;
  margin-top: 1px;
}
.divisor_form{
  clear: both;
  color: #0672A8;
  width: 1170px;
  height: 200px;
}
.divisor_form2{
  clear: both;
  color: #0672A8;
  width: 1170px;
  height: 500px;
  display: block;
  float: left;
}

#num_album{
  max-width: 160px;
  min-width: 160px;
}
#saved_text{
  color: #0672A8;
  font-family: sans-serif;
  margin-left: 15px;
}
#error_text{
  color: #800;
  font-family: sans-serif;
  margin-left: 15px;
}
.form-group select{
  max-width: 250px;
  min-width: 250px;
  display: block;
  float: left;
}
.form-group #adq{
  max-width: 200px;
  min-width: 200px;
}
#hallazgo{
  max-width: 100px;
  min-width: 100px;
}
#fecha{
  max-width: 420px;
  min-width: 420px;
  display: block;
  float: left;
}
#fecha input{
  display: block;
  float: left;
  max-width: 100px;
  min-width: 100px;
}
#fecha3{
  max-width: 360px;
  min-width: 360px;
  display: block;
  float: left;
  margin-top: 30px;
}
#fecha3 input{
  display: block;
  float: left;
  max-width: 100px;
  min-width: 100px;
}
#fecha2 {
  max-width: 190px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}

#fecha2 input {
  max-width: 100px;
  min-width: 100px;
  padding-left: 10px;
  margin-top: 5px; /* Add some margin to separate the input from the label */
}


#resumen{
  width: 50%;
  
}
#resumenLabel{
  float: none;
  text-align: center;
}
#resumenInput{
  max-width: 90%;
  min-width: 90%;
  min-height: 100px;
}#transcripcion{
  width: 50%;
  
}
#transcripcionLabel{
  float: none;
  text-align: center;
}
#transcripcionInput{
  max-width: 90%;
  min-width: 90%;
  min-height: 100px;
}
/* Estilos para el botón personalizado */


#subirfoto{
  display: block;
  float: left;
  text-align: left;
  margin-right: 300px;
  width: 800px;
}
#subirfoto p{
  max-width: 900px;
  min-width: 900px;
  margin-top: 12px;
}
.upload-button {
  max-width: 150px;
  min-width: 150px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0672A8;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;
  transition: all 300ms;
  text-align: center;
  display: inline-block;
  margin: 0px autos;
}
#subirarchivo{
  margin: 0px;
  margin-right: 10px;
}
#foto_label{
  margin-top: 10px;
  margin-right: 5px;
}.contenedor_formulario_foto h3{
  text-align: center;
  font-size: 30px;
  color: #0672A8;
}

.campos_fotografia{
  clear: both;
  color: #0672A8;
  width: 1170px;
  height: 100px;
}
.campos_fotografia input[type="number"]{
  display: block;
  float: left;
  max-width: 70px;
  min-width: 70px;
}
.campos_fotografia input[type="text"]{
  display: block;
  float: left;
  max-width: 200px;
  min-width: 200px;
}
.campos_fotografia textarea{
  display: block;
  float: left;
  max-width: 400px;
  min-width: 400px;
  max-height: 100px;
  min-height: 100px;
  margin-right: 600px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#descripcion_label{
  margin-top: 50px;
}

.upload-button:hover {
  background-color: black;
  color: white;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  margin-left: 40%;
  text-align: center;
}

.button:hover {
  background-color: #45a049;
}

/* Oculta el botón de archivo real */
/*input[type="file"] {
  display: none;
}*/







button {
  background-color: #0672A8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #005f88;
}

/*--------------------------------------Formulario Hemerografia---------------------------------------*/

#nombrePeriodico{
  margin-top: 40px;
}
#numeroEdicion{
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}
#numeroEdicionInput{
  max-width: 100px;
  min-width: 100px;
  padding-left: 10px;
  margin-top: 5px; /* Add some margin to separate the input from the label */
}

#numeroEdicion Input{
  display: block;
  float: left;
  max-width: 40%;
  min-width: 40%;
}
#FechaPublicacion{
  max-width: 190px;
  min-width: 190px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
#FechaPublicacionInput{
  max-width: 100px;
  min-width: 100px;
  padding-left: 10px;
  margin-top: 5px; /* Add some margin to separate the input from the label */
}

#FechaPublicacion Input{
  display: block;
  float: left;
  max-width: 80%;
  min-width: 80%;
}
#encabezado{
  max-width: 90%;
  min-width: 90%;
  margin-left: 5px;
}
#autor {
  max-width: 32%;
  min-width: 32%;
}
#autor label{
  margin-right: 10px;
}
#autor input{
  max-width: 75%;
  min-width: 75%;
  padding: 10px;
  margin-left: 20px;

  
}
#seccion{
  width: 33%;
  margin-left: 40px;
}
#seccion label{
  margin-right: 10px;
}
#seccionInput{
  max-width: 75%;
  min-width: 75%;
  margin-left: 10px;
}
#pagina{
  float: left;
  clear: both;
  width: 30%;
}
#paginaInput{
  max-width: 70%;
  min-width: 70%;
}
#columnas{
  width: 30%;
  float: left;
}
#columnasInput{
  max-width: 75%;
  min-width: 75%;
}
#lugarPublicacion{
  width: 30%;
}
#lugarPublicacion label{
  margin-right: 5px;
}
#lugarPublicacionInput{
max-width: 50%;
min-width: 50%;
}
#colaboradores{
  width: 50%;
}
#colaboradoresInput{
  max-width: 75%;
  min-width: 75%;
}
#tipoPublicacion{
  width: 50%;
}
#tipoPublicacionInput{
  max-width: 65%;
  min-width: 65%;
  margin-left: 30px;
}
/*--------------------------------------Fotodetalle Menu end---------------------------------------*/
#container2 {
  max-width: 900px;
  min-width: 900px;
  padding: 20px;
  height: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

#container2 h2 {
  text-align: center;
  font-family: marguerite;
  font-size: 30px;
}

#container2 label {
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

#container2 #tituloyautor input[type="text"] {
  display: block;
  text-align: center;
  float: left;
}








/*                              Croonologia        */

.contenedor_cronologia {
  max-width: 1100px;
  min-width: 1100px;
  padding: 20px;
  height: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.cronologia_item {
  display: block;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #0672A8;
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 25px;
  margin-left: 20px;
  display: block;
  width: 20%;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  height: 250px;
}

.cronologia_item img {
  width: 154px;
  height: 198px;
}

.cronologia_item h1 {
  font-size: 19px;
}

/*                              Paises        */
#main3 {
  background-image: url(../public/img/fondo2.jpg);
  height: 9300px;
  display: flex;
  justify-content: center;
}

#main3 h1 {
  font-size: 15px;
}

.contenedor_paises {
  display: block;
  float: left;
  max-width: 1100px;
  min-width: 1100px;
  padding: 20px;
  height: 100;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.pais{
  clear: both;

}
.ciudad{
  clear: both;
}

.formubi input[type="text"],
select,
textarea,
input[type="number"],
input[type="date"] {
  display: block;
  float: left;
  margin: 10px;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
}


input[type="text"],
select,
textarea,
input[type="number"],
input[type="date"] {
  display: block;

  margin: 10px;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
}

#formpais input[type="text"],
select,
textarea,
input[type="number"],
input[type="date"] {
  display: block;
  text-align: center;
  float: none;
}

select {
  max-width: 265px;
  min-width: 265px;
}

textarea {
  max-width: 253px;
  min-width: 253px;
}

#camposgenerales input[type="submit"] {
  display: block;
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0672A8;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;

}

#camposgenerales label {
  font-size: 18px;
  color: #0672A8;
  margin-top: 12px;
}

#camposgenerales input[type="number"] {
  height: 25px;
}



#pais {
  margin-left: 13px;
}


#camposgenerales #ciudad {
  display: block;
  float: left;
}

#container2 h3 {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  font-family: marguerite;
}

#esp1 input[type="submit"] {
  display: block;
  max-width: 250px;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #0672A8;
  color: white;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 4px black;

}



.foto-detalle-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.foto-detalle-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  height: 670px;
  width: 60%;
}

.fotografia-detalle-img {
  max-width: 100%;
  max-height: 50vh;
}
#container2 form .form-group  {
  display: flex;
  flex-wrap: wrap;
  
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.small-input {
  width: 50px;
}
#esp1 {
  margin-top: 20px;
}


/*--------------------------------------temas fotografia---------------------------------------*/



/*--------------------------------------temas fotografia fin---------------------------------------*/
/*--------------------------------------Pagina de los albums---------------------------------------*/
.container_fotografia h3{
  font-family: marguerite;
  font-size: 40px;
  color: #0672A8;
  border-bottom: #0672A8 solid 3px;
  margin-bottom: 10px;
}
.albumes_item{
  
    display: block;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #0672A8;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    display: block;
    width: 20%;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    height: 250px;
    text-align: center;
  
}
.albumes_item:hover{
  background-color: #0672A8;
  color: white;
}
.albumes_item:hover >h3{
  background-color: #0672A8;
  color: white;
  border-bottom: white solid 3px;
} 
.albumes_item img{
  width: 80%;
  max-height: 120px;
}
.albumes_item h3{
  font-size: 23px;
}
.albumes_item p{
  font-family: sans-serif;

}



/*--------------------------------------temas fotografia fin---------------------------------------*/